@font-face{
    font-family: 'Source Sans Pro';
    src: url(../font/SourceSansPro-Regular.woff2),
    url(../font/AnyConv.com__SourceSansPro-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Source Sans Pro';
    src: url(../font/SourceSansPro-Bold.woff2),
    url(../font/AnyConv.com__SourceSansPro-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Source Sans Pro';
    src: url(../font/SourceSansPro-SemiBold.woff2),
    url(../font/AnyConv.com__SourceSansPro-SemiBold.woff);
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Open Sans';
    src: url(../font/OpenSans-ExtraBold.woff2),
    url(../font/AnyConv.com__OpenSans-ExtraBold.woff);
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Arial';
    src: url(../font/ArialMT.woff2),
    url(../font/AnyConv.com__ArialMT.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Source Sans Pro';
    src: url(../font/SourceSansPro-Black.woff2),
    url(../font/AnyConv.com__SourceSansPro-Black.woff);
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Arial';
    src: url(../font/Arial-BoldMT.woff2),
    url(../font/AnyConv.com__ArialMT.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Open Sans';
    src: url(../font/OpenSans-Regular.woff2),
    url(../font/AnyConv.com__OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.woff2),
    url(../font/AnyConv.com__Roboto-Regular.woff);
    font-weight: 400;
    font-style: normal;
}


@font-face{
    font-family: 'Open Sans';
    src: url(../font/OpenSans-SemiBold.woff2),
    url(../font/AnyConv.com__OpenSans-SemiBold.woff);
    font-weight: 600;
    font-style: normal;
}
