
//color
$colorMain: #203538;
$colorHG:  #03A06C;
$colorHGOP:  rgba(3, 160, 108, 0.3);
$colorBlackText:  rgba(0, 0, 0, 0.8);
$colorGrayText: rgba(0, 0, 0, 0.3);
$colorTePapaGreen: #203538;
$colorTePapaGreenOP: rgba(32,53,56,0.9);
$colorWildSand: #f6f6f6;
$colorWhite: #fff;
$colorShuttleGray: #596D7B;
$colorAlabaster:#F7F7F7;