@import "fonts";
@import "default";
@import "vars";
@import "mixins";
@import "custom";

.main { 
    margin-top: 30px;
}

.section-title { 
    font-size: 28px;
    font-weight: 900;
    color: $colorTePapaGreen;
    padding-bottom: 30px;
    @include mobil-big {
        font-size: 18px;
    }
}

.link { 
    font-weight: 600;
    color: $colorHG; 
}

@import "components/header";
@import "components/info";
@import "components/article";
@import "components/slider";
@import "components/footer";
@import "components/info-mobil";



select {
    &::-webkit-scrollbar {
    width: 10px;
    background: $colorAlabaster;
  }
  &::-webkit-scrollbar-thumb { 
      background: $colorHG;
      border-radius: 8px;
  }
}
