@import "fonts";
@import "default";
@import "vars";
@import "mixins";
@import "custom";

.main { 
    margin-top: 30px;
}

.section-title { 
    font-size: 28px;
    font-weight: 900;
    color: $colorTePapaGreen;
    padding-bottom: 30px;
}

.link { 
    font-weight: 600;
    color: $colorHG; 
}

@import "components/header";
@import "components/info";
@import "components/article";
@import "components/slider";
@import "components/footer";


